/*General styles*/
body{
    background-color: lightgrey;
    font-family: 'Segoe UI';
}

h1{
    font-weight: 700;
    font-variant: inherit;
    text-decoration: underline;
    text-decoration-color: blue;
    letter-spacing: 0 20px;
    color: #496139;
    font-size: 50px;
    text-align: center;
    overflow-y: hidden;  
    resize: none;   
}

h2{
    font-size: 40px;
    letter-spacing: -0.8px;
    text-decoration: underline;
    text-decoration-color: brown;
    margin: 19px 0px 0px 0px;
}

label {
    font-weight: 700;
    font-size: 19px;
}

button{
    cursor: pointer;
}

.inputs_{
    display: flex;
}

/*Input part styles*/
.input_div {
    position: relative;
    top: 75%; 
    display: block;
    margin-left: 3%;
    
}

textarea{
    background: transparent;
    font-family: Arial;
    font-size: 24px;
    line-height: 32px;
    flex: 1;
    resize: none;
    width: 50%;
    min-width: 600px;
    white-space: pre-wrap;
    display: flex;
    border: solid black 2px;
}

.textarea-wrapper{
    position: relative;
    width: 300px;
}

.char-count {
    position: absolute;
    bottom: 5px;
    right: -100%;
    z-index: 2; 
    background-color: transparent; 
    padding: 0 5px; 
    font-size: 0.8em;
    color: #888;

    pointer-events: none; 
  }

.title_container{
    display: flex;
    flex-direction: column;

}

.title_container input{
    width: 32.54%;
    height: 30px;
    font-size: 30px;
    background-color: transparent;
    border: solid black 1px;
}

.div_additional_inf{
    display: flex;
    flex-direction: column;
}

.div_additional_inf input {
    width: 100px;
    height: 20px;

}

.sendButton {
    margin-top: 10px;
	box-shadow:inset 0px 1px 21px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:24px;
	font-weight:bold;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:1px 1px 12px #1570cd;
}

.sendButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

.sendButton:active {
	position:relative;
	top:1px;
}

/*Output part styles*/
.output_div{
    position: relative;
    display: block;
    margin-left: 3%;
}

.ListOfTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sigle_Tak{
    background-color: lightblue;
    border: solid grey 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 12px gray;
}

.Sigle_Tak p {
    display: block;
    margin-bottom: 0.75rem;
    word-wrap: break-word;
}

.botton_info {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.botton_info p, .botton_info h5 {
    margin: 0;
}

.top_part_task {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.top_part_task h3 {
    text-align: center;
    margin: 0;
    z-index: 1;
}

.top_part_task button {
    position: absolute;
    right: 20px; /*Modify button position*/
    top: 30%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: transparent;
    border: none;
    padding: 0px 0px 0px 0px;
    width: 30;
    height: 30px;
}

.top_part_task > button img {
    width: 30px;
}

.task_conf_div {
    position: absolute;
    display: flex;
    top: 20px;  /*Change this to set new position*/
    left: 82%;
    background-color: rgba(255, 255, 255, 0.7); /* Blanco con 50% de opacidad */
    border: none;
    padding: 5px;
    flex-direction: column;
    border-radius: 5px;
}

.task_conf_div a {
  margin: 0; 
  padding: 5px;
  text-decoration: none;
  font-weight: 700;

}

/*Error mesage, in case API doesn't works*/
.ErrorMesage {
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da; 
    padding: 20px;
    border: 1px solid #dc3545;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ErrorMesage h3 {
    align-items: center;
    text-align: center;
}



/*Edit DIV styles*/






